@import 'colors';
@import 'animation';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333333;
	height: 30vh;
	width: 100vw;
	background-size: cover;

	span {
		color: $blue-color;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	i {
		font-size: 30px;
	}

	.shadow-bg {
		background-color: rgba(0, 0, 0, 0.85);
	}

	.underline {
		margin: 0 auto 40px;
		width: 60px;
		height: 4px;
		background-color: $blue-color;
	}
}

nav {
	text-transform: uppercase;
	transition: 0.6s;

	.nav-link {
		color: $white;
	}

	a:hover {
		color: $blue-color;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $blue-color;
	}

	i {
		padding: 10px;
		color: $white;
		letter-spacing: 3px;
		transition: 0.3s;
	}

	i:hover {
		color: $blue-color;
	}
}

header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}

	p {
		font-size: 14px;
	}

	.hero-image {
		position: relative;
		height: 100vh;
		background-image: url('/img/game-console_640.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}

	.btn-outline-light {
		text-transform: uppercase;
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $white;
	}
}

.aboutus {
	.aboutus-card-title {
		text-transform: uppercase;
		font-size: 18px;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: 0.3s;
	}

	.aboutus-hover:hover {
		color: $blue-color;
	}
}

.aboutus-2 {
	position: relative;
	background-image: url(/img/procesor__640.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.container-aboutus-2 {
		padding-top: 3rem;
		padding-bottom: 3rem;
		color: $white;
		width: 100%;
	}

	.aboutus-2-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.65);
		z-index: -5;
	}
}

.portfolio {
	.container-portfolio {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.carousel {
		position: relative;
		width: 900px;
		height: auto;
	}

	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.carousel-indicators {
		padding-bottom: 15px;
	}

	.card-group {
		padding: 10px;
	}

	.card {
		padding: 5px;
		border: 0;
	}
}

.prices {
	background-color: $bg-prices;

	h3 {
		color: $blue-color;
	}

	span {
		color: black;
		font-weight: bold;
	}

	.exact-price {
		font-size: 28px;
	}

	.prices-info {
		margin-top: 25px;
		text-align: center;
	}

	.price-box {
		box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
		padding: 15px;
		margin: 0 10px;
		transition: 0.3s;
		background-color: $white;
	}

	i {
		padding: 0 5px;
		font-size: 15px;
		transition: 0.3s;
	}

	.underline-2 {
		margin: 0 auto 10px;
		width: 300px;
		height: 2px;
		background-color: rgba(0, 0, 0, 0.1);
	}

	.price-box:hover {
		transform: scale(1.05);
	}
}

.team {
	position: relative;
	background-image: url(../img/biuro_1920.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.team-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}

	span {
		color: black;
		font-weight: bold;
		font-size: 18px;
	}

	i {
		font-size: 18px;
		color: $team-socials;
		padding: 3px 10px;
	}

	h2 {
		color: $white;
	}

	.card-text {
		font-size: 15px;
	}

	.col {
		margin-bottom: 10px;
	}

	.card {
		transition: 0.5s;

		img {
			height: 250px;
			object-fit: cover;
		}
	}

	.card:hover {
		transform: scale(1.02);
	}
}

.achievements {
	i {
		padding: 10px;
		font-size: 48px;
		color: $white;
		text-shadow: 0 2px 7px #000;
	}

	.achievements-list {
		padding: 20px 0;
	}

	.achievement-number {
		font-size: 22px;
		font-weight: bolder;
	}

	.achievement-text {
		font-size: 13px;
		text-transform: uppercase;
	}

	.achievement {
		transition: 0.3s;
	}

	.achievement:hover {
		transform: scale(1.05);
	}
}

.contact {
	position: relative;
	background-image: url(/img/city_640.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	color: $light-grey;

	i {
		color: $light-grey;
		padding: 5px;
		font-size: 18px;
		transition: 0.3s;
	}

	.mail {
		transition: 0.3s;
	}

	p {
		font-size: 15px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 3px;
	}

	.underline {
		background-color: $light-grey;
	}

	.contact-item {
		padding-bottom: 30px;
	}

	.contact-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -5;
	}
}

i:hover {
	color: $blue-color;
}

.mail:hover {
	color: $blue-color;
}

@media (min-width: 400px) {
	body {
		.hero-text h1 {
			font-size: 40px;
		}

		.hero-text p {
			font-size: 19px;
		}
	}
}

@media (min-width: 900px) {
	body {
		.hero-text h1 {
			font-size: 52px;
		}

		.hero-text p {
			font-size: 25px;
		}
	}

	nav {
		height: 82px;
	}
}

@media (min-width: 1200px) {
	header {
		.hero-image {
			background-image: url('/img/game-console_1920.jpg');
		}
	}
}
